# State and cache files
*.elc
*.eln
eln-cache/
elpa/
auto-save-list/
backup/
recentf
places
history
ido.last
lsp-*
.lsp-*
projectile*
transient/
eshell/
filesets-cache.el
projects
tramp

# Undo-tree backup files
*~undo-tree~
